* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  padding: var(--spacing-small);
}

.header-counter {
  margin-left: auto;
  padding-right: var(--spacing-small);
  font-weight: bold;
  cursor: pointer;
  color: #000;
}

.header {
  width: 100%;
  z-index: 50;
}
.header__container {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.basket__img {
  margin-top: -10px;
}

/*----------------------------------*/
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__link {
  font-size: 14px;
  text-decoration: underline;
  line-height: 24px;
}
.menu__item:not(:last-child) {
  margin: 0 10px 0 0;
}
.menu__link:hover {
  color: green;
}
.menu__item:visited {
  color: green;
}

/*----------------------------------*/
.knopka form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.knopka input {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border: 1px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
.knopka button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 30px;
  height: 30px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.knopka button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 14px;
  color: #F9F0DA;
}

/*----------------------------------*/
.login__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.login__item:hover:nth-child(2) a:hover {
  color: green;
}

/*----------------------------------*/
/*----------------------------------*/
.logo {
  background-color: #fff;
}
.logo__container {
  height: 150px;
}
.logo__description {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*----------------------------------*/
.description__text {
  width: 108px;
  font-size: 14px;
  text-align: center;
  color: green;
}
.description__logo_name {
  font-size: 36px;
  color: green;
  margin-left: -90px;
}
.description__list {
  font-size: 18px;
}
.description__phone2 {
  display: inline-block;
  text-align: right;
  padding-top: 5px;
}
.description__back_call {
  font-size: 12px;
  padding-top: 5px;
  text-align: right;
}
.description__back_call a {
  text-decoration: underline;
}
.description__back_call a:hover {
  text-decoration: none;
  color: green;
}

/*----------------------------------*/
.list__item {
  margin-right: 30px;
}

.fa-li {
  color: green;
}

/*----------------------------------*/
.line__menu {
  height: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #437f12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*----------------------------------*/
._menu__item:nth-child(n+1):nth-child(n-4) {
  padding: 0 30px 0 30px;
}
._menu__item a {
  position: relative;
  top: 16px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}
._menu__item:hover {
  background-color: #5C8D3A;
}