@import "nullstyle.scss";
.shopping-container {
  width: 97%;
  height: 97vh;
  position: fixed;
  top: 1.8%;
  left: 1.8%;
  transform: translate (-80%, -80%); 
  margin: auto;
  padding: var(--spacing-large);
  background-color: #fff;
  box-shadow: var(--box-shadow);
}

.shopping-element {
  &__name {
    padding: var(--spacing-medium);
    font-weight: bold;
  }
  &__price {
    padding: var(--spacing-medium);
    color: #808080;
  }
  &__box {
    padding: var(--spacing-medium);
    color: #808080;
  }
}

.shopping__close{
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  background-image: url(img/cancel.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}